<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>   
    <section id="dealer" translate="label" sortOrder="150" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
     <label>Dealer Module Settings</label>
      <tab>parks</tab>
      <resource>Parks_Dealer::system_config</resource>
      <group id="dealer" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General Configuration</label>      
          <field id="enable" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Enable Dealer Extension</label>         
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>  
        <field id="emailtemplate" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email Template For Reject Dealer Details</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
        </field>
        <field id="adminemailtemplate" translate="label comment" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Admin Email Template For Dealer Details</label>
            <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
        </field>
      </group>     
    </section>
  </system>
</config>