<?xml version="1.0"?> 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">   
                <resource id="Parks_Dealer::dealer" title="Dealer" sortOrder="51">
                    <resource id="Parks_Dealer::details" title="Dealer Details" sortOrder="10"/>
                    <resource id="Parks_Dealer::dealer_configuration" title="Configuration" sortOrder="99" />
                </resource>        
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Parks_Dealer::system_config"
title="Parks Dealer Configuration" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>