<?xml version="1.0"?>
<!--
/**
 * Park Health Products
 * Park Health Dealer Extension
 *
 * @category   Parks
 * @package    Parks_Dealer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="DealerDetailsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DealerDetailsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Parks\Dealer\Model\ResourceModel\Dealer\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DealerDetailsGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Parks\Dealer\Model\ResourceModel\Dealer\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">dealer_details</argument>
            <argument name="eventPrefix" xsi:type="string">dealer_details_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">details_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Parks\Dealer\Model\ResourceModel\Dealer</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dealer_details_listing_data_source" xsi:type="string">Parks\Dealer\Model\ResourceModel\Dealer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>